/TribonacciSequence/nbproject/private/
/TribonacciSequence/build/
/MagicNumber/nbproject/private/
/MagicNumber/build/
/Abundant Number/nbproject/private/
/Abundant Number/build/
/NeonNumber/nbproject/private/
/NeonNumber/build/
/ArmstrongNumber/nbproject/private/
/ArmstrongNumber/build/
/PronicNumber/nbproject/private/
/PronicNumber/build/
/HarshadNumber/nbproject/private/
/HarshadNumber/build/
/ HarshadMagicNumber/nbproject/private/
/ HarshadMagicNumber/build/
/ DudeneyNumber/nbproject/private/
/ DudeneyNumber/build/
/ NivenNumber/nbproject/private/
/ NivenNumber/build/
/BouncyNumber/nbproject/private/
/BouncyNumber/build/